<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ayannah.asira">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA"
        android:required="true" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:name=".BankApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="n">

        <activity android:name=".screen.agent.selectbank.SelectBankActivity"/>
        <activity android:name=".screen.agent.listloan.ListLoanActivtiy"/>
        <activity android:name=".screen.borrower.profile_menu.editinfopribadi.EditInfoPribadiActivity" />
        <activity
            android:name=".screen.register.termcondition.TermConditionActivity"
            android:label="@string/title_activity_term_condition"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".screen.agent.lpagent.LPAgentActivity" />
        <activity android:name=".screen.agent.viewBorrower.ViewBorrowerActivity" />
        <activity android:name=".screen.createnewpassword.CreateNewPassActivity">
            <tools:validation testUrl="https://ayannah.co.id/deepLinks/" />

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="ayannah.co.id"
                    android:pathPrefix="/deepLinks/"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity android:name=".screen.borrower.notifpage.NotifPageActivity" />
        <activity android:name=".screen.resetpassword.ResetPasswordActivity" />
        <activity android:name=".screen.success.SuccessActivity" />
        <activity android:name=".screen.borrower.login.LoginActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".screen.borrower.profile_menu.akunsaya.AkunSayaActivity" />
        <activity android:name=".screen.borrower.profile_menu.datapendukung.DataPendukungActivity" />
        <activity android:name=".screen.borrower.profile_menu.infokeuangan.InformasiKeuanganActivity" />
        <activity android:name=".screen.summary.SummaryTransactionActivity" />
        <activity android:name=".screen.earninginfo.EarningActivity" />
        <activity android:name=".screen.borrower.profile_menu.infopribadi.InfoPribadiActivity" />
        <activity
            android:name=".screen.otpphone.VerificationOTPActivity"
            android:label="@string/title_activity_verification_otp"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".screen.detailloan.DetailTransaksiActivity" />
        <activity android:name=".screen.loan.LoanActivity" />
        <activity android:name=".screen.register.addaccountbank.AddAccountBankActivity" />
        <activity android:name=".screen.register.choosebank.ChooseBankActivity" />
        <activity android:name=".screen.register.formBorrower.FormBorrowerActivity" />
        <activity android:name=".screen.register.adddoc.AddDocumentActivity" />
        <activity android:name=".screen.register.formjobearning.FormJobEarningActivity" />
        <activity android:name=".screen.register.formothers.FormOtherActivity" />

        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="ocr" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <activity
            android:name=".util.CameraTakeM"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".util.CameraTakeBeforeM"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".screen.SplashScreen">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".screen.chooselogin.ChooseLoginActivity" />
        <activity android:name=".screen.agent.loginagent.LoginAgentActivity" />
        <activity android:name=".screen.agent.registerborrower.choosebank.ChooseBankAgentActivity" />
        <activity android:name=".screen.agent.registerborrower.addaccountbank.AddAccountBankAgentActivity" />
        <activity android:name=".screen.agent.registerborrower.adddoc.AddDocumentAgentActivity" />
        <activity android:name=".screen.agent.registerborrower.formborrower.FormBorrowerAgentActivity" />
        <activity android:name=".screen.agent.registerborrower.jobearning.FormJobEarningAgentActivity" />
        <activity android:name=".screen.agent.registerborrower.formother.FormOtherAgentActivity" />
        <activity android:name=".screen.agent.services.ListServicesAgentActivity" />
        <activity android:name=".screen.agent.loan.LoanAgentActivity" />
        <activity android:name=".screen.agent.navigationmenu.agentprofile.ListBanks.AgentProfileBankListActivity" />
        <activity android:name=".screen.borrower.borrower_landing_page.BorrowerLandingPage"
            android:screenOrientation="portrait"/>
        <activity android:name=".screen.borrower.register_mandatory.RegisterMandatoryActivity"
            android:windowSoftInputMode="adjustPan"/>

        <service
            android:name=".util.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

    </application>

</manifest>